html {
    background-color:dodgerblue;
}

img {
    margin: 0 auto;
    display: block;
    border: 10px ridge gold;
    border-radius: 100%;
}

#apple {
    color:deepskyblue;
}

#banana {
    color: orangered;
}

body {
    background-color:lawngreen;
    margin: 0 auto;
    border: 5px solid black;
    width: 60%
}