div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
    display: inline-block;
    
}

img {
    border: 10px groove orange;
    border-radius: 100%;
}
.dogone {
    border: 10px dashed orange;
}
.dogtwo {
    border: 10px dotted orange;
}
.dogthree {
    border: 10px double orange;
}